body {
  font-family: "Microsoft YaHei","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB","Heiti SC",Verdana,simsun;
  background-color: #F2F2F2;
  overflow-y: scroll;
}
.container-content {
  margin: 0 auto;
}
.form-content {
  /*margin-left: -26px;
  border: 1px solid red;*/
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 970px) {
  .container-content {
    width: 940px;
  }
}

.container-nav {
  margin: 0 auto;
  margin-top: 10px;
  height: 40px;
}
@media (min-width: 970px) {
  .container-nav {
    width: 940px;
  }
}

.badge-primary {
  background-color: #337AB7;
}
.badge-success {
  background-color: #5CB85C;
}
.badge-info {
  background-color: #5BC0DE;
}
.badge-warning {
  background-color: #F0AD4E;
}
.badge-danger {
  background-color: #D9534F;
}
.badge-AA {
  background-color: #1BB8E2;
}
.badge-A {
  background-color: #BFDB39;
}
.badge-B {
  background-color: #EDE71F;
}
.badge-C {
  background-color: #FFC400;
}
.badge-D {
  background-color: #FB5A00;
}
.badge-E {
  background-color: #E52012;
}
.badge-HR {
  background-color: #F01F5A;
}
.badge-primary {
  background-color: #337AB7;
}