body {
  font-family: "Microsoft YaHei","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB","Heiti SC",Verdana,simsun;
  background-color: #F2F2F2;
}
.container-content {
  margin: 0 auto;
  border: 1px solid #dddddd;
  background-color: #FFFFFF;
}
.form-content {
  /*margin-left: -26px;
  border: 1px solid red;*/
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 970px) {
  .container-content {
    width: 940px;
  }
}

.container-nav {
  margin: 0 auto;
  margin-top: 10px;
  height: 40px;
}
@media (min-width: 970px) {
  .container-nav {
    width: 940px;
  }
}