body {
  font-family: "Microsoft YaHei","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB","Heiti SC",Verdana,simsun;
  background-color: #F2F2F2;
}
.navbar-static-top {
  margin-bottom: 19px;
}
.container-header {
  width: 935px;
  margin: 0 auto;
}
.container-content {
  width: 935px;
  margin: 30px auto;
  border: 1px solid #dddddd;
  background-color: #FFFFFF;
}
.form-content {
  /*margin-left: -26px;
  border: 1px solid red;*/
  margin-top: 20px;
  margin-right: 25px;
}
.navbar-default {
  background-color: #FFFFFF;
  border: 1px solid #dddddd;
}