body {
  font-family: "Microsoft YaHei","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB","Heiti SC",Verdana,simsun;
  background-color: #F2F2F2;
}
.container-content {
  margin: 10px auto;
  border: 1px solid #dddddd;
  background-color: #FFFFFF;
}
.form-content {
  /*margin-left: -26px;
  border: 1px solid red;*/
  margin-top: 20px;
  margin-right: 25px;
}