<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myself.finance.mapper.AccountMapper">
	<resultMap type="com.myself.finance.entity.Account" id="accountResult">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<id column="USER_ID" property="userId" jdbcType="VARCHAR" />
<result column="NAME" property="name" jdbcType="VARCHAR" />
<result column="STATUS" property="status" jdbcType="VARCHAR" />
<result column="BALANCE" property="balance" jdbcType="NUMERIC" />
<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getData" resultMap="accountResult">
		SELECT * FROM ACCOUNT WHERE 1=1
		<if test="id != null and id != ''">
			AND ID = #{id, jdbcType=VARCHAR}
		</if>
		<if test="userId != null and userId != ''">
			AND USER_ID = #{userId, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="query" resultMap="accountResult">
		SELECT * FROM PRODUCT 
		<where>
<if test="entity.name != null and entity.name != ''">
	and NAME = #{entity.name}
</if>
<if test="entity.status != null and entity.status != ''">
	and STATUS = #{entity.status}
</if>
<if test="entity.createTime != null and entity.createTime != ''">
	and to_char(CREATE_TIME, 'YYYY-MM-DD') = #{entity.createTime}
</if>
</where> 
		order by CREATE_TIME desc
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO ACCOUNT (ID, USER_ID, NAME, STATUS, BALANCE, CREATE_TIME, REMARKS)
		VALUES (
#{id, jdbcType=VARCHAR},
#{userId, jdbcType=VARCHAR},
#{name, jdbcType=VARCHAR},
#{status, jdbcType=VARCHAR},
#{balance, jdbcType=NUMERIC},
#{createTime, jdbcType=TIMESTAMP},
#{remarks, jdbcType=VARCHAR})
	</insert>
	
	<update id="update">
		update ACCOUNT
		<set>
<if test="balance != 0">
	BALANCE = #{balance, jdbcType=NUMERIC},
</if>
UPDATE_TIME = #{updateTime, jdbcType=TIMESTAMP},
		</set>
		where id = #{id, jdbcType=NUMERIC} AND USER_ID = #{userId, jdbcType=VARCHAR}
	</update>
</mapper>